<p>
    <strong>Title: </strong>
    <%= @article.title %>
</p>

<p>
    <strong>Content: </strong>
    <%= @article.content %>
</p>

<%= link_to "Articles List" , articles_path %>

<%= link_to "수정", edit_article_path(@article) %>

<%= link_to "삭제",article_path(@article), method: :delete %>
<%= link_to "전체목록",article_path %>


<p>
    <h1>comments</h1>
    <ul id="comments">
        <% @article.comments.each do |comment| %>
            <il><%= comment.content %>
                <%= link_to '삭제', comment_path(comment), :method => :delete,
                    data: {confirm:"정말로 삭제하시겠습니까?"} %>
                    
            </il>
            <%end%>
            </ul>
</p>

<p>
    <%= form_for :comment, url: article_comments_path(@article.id) do |f| %>
        <%= f.text_area :content %>
        <%= f.submit %>
        <%end%>
</p>

